body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    margin: 0;
    padding: 20px;
    color: white;
}

.container {
    max-width: 600px;
    margin: auto;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 2.5em;
}

.input-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

input {
    width: 70%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 1em;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #50ce34;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #3f180c;
}

.weather-result {
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
}
